body{
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(236, 236, 225);
    border-bottom: 1px darkgray;
    box-shadow: 1px 1px gray;
}
.navbar > li{
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
}
.mainButton{
    background-color: indianred ;
    color: white;
}
.button{
    border: 0px;
    padding: 5px 10 px;
    border-radius: 5px;
    font-weight: bolder;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.mainButton{
    background-color: indianred ;
    color: white;
}
.mainButton:hover{
    box-shadow: 1px 1px rgb(141, 66, 39);
}
.secondaryButton{
    background-color: cadetblue;
    color: white;
}
.secondaryButton:hover{
    box-shadow: 1px 1px darkcyan;
}
.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.buscar:focus-within{
    border: 1px solid pink;
}
.buscar > input{
    outline: none;
    border: 0px;
}
.iconoBusqueda:hover{
    color:palevioletred;
}